<form (ngSubmit)="onSubmit()" class="card">
  <h3>Dodaj nowe zadanie</h3>
  <div>
    <input
      type="text"
      name="title"
      [(ngModel)]="taskData.title"
      placeholder="Tytuł zadania"
      required>
  </div>
  <br>
  <div>
    <textarea
      name="description"
      [(ngModel)]="taskData.description"
      placeholder="Opis zadania"
      required></textarea>
  </div>
  <br>
  <button type="submit" class="btn-primary">{{ isEditing ? 'Zapisz zmiany' : 'Dodaj' }}</button>
</form>
