<div class="container">
  <button (click)="logout()">Wyloguj się</button>
  <hr>

  <app-task-form
    [taskToEdit]="selectedTask"
    (taskCreated)="onTaskCreated($event)"
    (taskUpdated)="onTaskUpdated($event)">
  </app-task-form>

  <hr>

  <h2>Moja Lista Zadań</h2>

  <ul class="card">
    @for (task of tasks; track task.id) {
      <li>
        <span>{{ task.title }} (Status: {{ task.status }})</span>
        <div class="task-actions">
          <button class="btn-secondary" (click)="onEdit(task)">Edytuj</button>
          <button class="btn-danger" (click)="onDelete(task.id)">Usuń</button>
        </div>
      </li>
    }
  </ul>
</div>

<!-- Trigger CI -->
